<form [formGroup]="formCar" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="nom">Car Name</label>
        <input formControlName="nom" class="form-control" type="text">
        <div *ngIf="submitted && formCar.controls['nom'].invalid" class="text-danger">
            Car name is required.
        </div>
    </div>

    <div class="form-group">
        <label for="marque">Brand</label>
        <input formControlName="marque" class="form-control" type="text">
        <div *ngIf="submitted && formCar.controls['marque'].invalid" class="text-danger">
            Brand is required.
        </div>
    </div>

    <div class="form-group">
        <label for="caracteristique">Features</label>
        <input formControlName="caracteristique" class="form-control" type="text">
        <div *ngIf="submitted && formCar.controls['caracteristique'].invalid" class="text-danger">
            Features are required.
        </div>
    </div>

    <div class="form-group">
        <label for="prix">Price</label>
        <input formControlName="prix" class="form-control" type="number">
        <div *ngIf="submitted && formCar.controls['prix'].invalid" class="text-danger">
            Price is required and should be a positive number.
        </div>
    </div>

    <div class="form-group">
        <label for="picture">Picture</label>
        <input formControlName="picture" class="form-control" type="text">
        <div *ngIf="submitted && formCar.controls['picture'].invalid" class="text-danger">
            Picture URL is required.
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-outline-success mt-2">Submit</button>
    </div>
</form>