<nav class="navbar bg-info">
    <div class="container-fluid d-flex">
        <button routerLink="liste" routerLinkActive="active-link" class="btn btn-sm btn-primary ml-2">
            Liste des Voitures
        </button>

        <button routerLink="ajouter" routerLinkActive="active-link" class="btn btn-sm btn-primary ml-2">
            Ajouter Voiture
        </button>

        <button routerLink="show-cars" routerLinkActive="active-link" class="btn btn-sm btn-primary ml-2">
            Voir les Voitures
        </button>
    </div>
</nav>